.resource-manager {
    width: 100%;
    height: calc(100vh - 256px);

    /*.rm-split-handle {
        transform: translate(-4.5px, 0);
        margin-right: -4.5px;
    }*/

    #rm-nav {
        border-radius: var(--mantine-radius-xs);
        background-color: var(--mantine-color-secondary-8);
        height: 100%;
        #rm-nav-scroll {
            display: inline-block;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
    }

    #rm-content {
        height: 100%;
        position: relative;
        border: 1px solid var(--mantine-color-default-hover);
        border-radius: var(--mantine-radius-xs);
    }

    .menu-expander {

        .menu-expander-button {
            .expander-chevron {
                transition: transform 0.2s;
            }
            .mantine-Button-label {
                flex-grow: 1;
            }
        }
    }
}
